# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.CodeforcesCodeforcesRound565Div.3.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
