# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.AtCoderDaiwaSecuritiesCo_Ltd.ProgrammingContest2022AutumnAtCoderBeginnerContest277.iml
# Editor-based HTTP Client requests
/httpRequests/
