# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodeforcesCodeforcesRound902Div.2basedonCOMPFEST15FinalRound.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
