# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CodeforcesCodeforcesRound907Div.2.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
