# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AtCoderKEYENCEProgrammingContest2023AutumnAtCoderBeginnerContest325.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
