# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CodeChefSTART99D.iml
# Editor-based HTTP Client requests
/httpRequests/
